# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/

# Streamlit
.streamlit/

# Environment variables
.env

# VS Code
.vscode/
*.code-workspace

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Byte-compiled files
__pycache__/